<!-- Sidebar -->

<aside class="large-3 columns">

  <h5>Categories</h5>
  <ul class="side-nav">
    <li><%= link_to 'Articles', posts_path %></li>
    <li><%= link_to 'Ruby on Rails', posts_path(:tag => 'Ruby on Rails') %></li>
    <li><%= link_to 'Design', posts_path(tag: 'Design') %></li>
    <li><%= link_to 'HTML/CSS', posts_path(tag: 'HTML/CSS') %></li>
    <li><%= link_to 'Javascript', posts_path(tag: 'Javascript') %></li>
  </ul>

  <div class="panel">
    <h5>Events</h5>
    <div class="feed">
    </div>
    <a href="#">Read More →</a>
  </div>

</aside>

<!-- End Sidebar -->
<script>
  $(document).ready(function() {
        $.each(data.results function(entryIndex, entry) {
          var html = '<div class="feed">';
          html +=  entry.group.name + '<br/>'; Women Who Code Sydney
          html +=  entry.name + '<br/>'; Becoming an Open Source Contributor: A How To Guide
          html +=  entry.time + '<br/>';//need to do something to make the time display in a readable format
          html +=  entry.venue.name + '<br/>'; Atlassian
          html +=  entry.venue.addres_1 + '<br/>'; "Level 6, 341 George Street"
          html +=  entry.venue.addres_2 + '<br/>';
          html += '<a href="' + entry.event_url + '">Details</a><br/>';http://www.meetup.com/Women-Who-Code-Sydney/events/166669532/"
          html += '</div>';

      return false;
  });
</script>
