
  <div class="row" >
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content" >

 	<% @posts.each do |post| %><!-- for each post in the db -->
      <article>
 
        <h3><a href="#"><%= post.title %></a></h3>
        <h6>Written by <a href="#">Catherine Jones</a> <%= post.created_at.strftime("%d/%m/%Y") %></h6>
 
        <div class="row">
          <div class="large-6 columns">
          </div>
          <div class="large-6 columns">
            <%= image_tag post.picture_url(:thumb) if post.picture? %>
          </div>
        </div>

    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </article>
<% end %>
<%= link_to 'New Post', new_post_path %>
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
 
      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">Articles</a></li>
        <li><a href="#">Ruby on Rails</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">HTML/CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
 
      <div class="panel">
        <h5>Featured</h5>
        <p>News Feed</p>
        <a href="#">Read More →</a>
      </div>
 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
