<div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a target="_blank" href="https://github.com/catherine-jones" class="button">Github</a></li>
         <li><a target="_blank" href="https://twitter.com/CathJones0" class="button">Twitter</a></li>
         <li><a target="_blank" href="/about" class="button">About me</a></li>
         <li><a target="_blank" href="https://www.catherinejonesdesigns.com.au" class="button">Portfolio</a></li>
        </ul>
      </div>
      <h1>Catherine &nbsp;<small>A Digital Notebook</small></h1>
               <p class="text-align-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
      <hr />

    </div>
  </div>
